.primaryButton {
  background-color: var(--blue-600);
  color: var(--neutral-50);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  transition: linear .3s;
  height: 45px;

  &:hover {
    background-color: var(--blue-700);
  }

  &.primaryButtonFullWidth {
    width: 100%;
  }
}